body, html, main {
   height: 100%;
}

#map{
    background-color:grey;
    height:548px;
    width:100%;
}

.fixed_img{
    
    display:none;

}

  .scroll{
     min-height: 100%;
  }
  
  #head{
      height:70px;
      background-color: #020000;
      opacity: .9;
  }
  
  #search_box, .search{
      right:15px;
      position:relative;
      top:30px;
      float:right;
  }
  
  #search_box{
      border-radius: 5px;
      height: 20px;
      width: 200px;
  }
  
  .search{
      color:white;
  }
  
  #details{
      background-color: white;
      height:548px;
      width: 400px;
  }

@media screen and (min-width: 600px){
   
.fixed_img{
    display:block;
   // width:100px;
    height:100%;
    background-attachment: fixed;
    background-image: url("../img/theatre2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
    
}
   /* 


.fixed_img{
    display:block;
}

.scroll{
    min-height: 100%;
}


}
*/