body, html, main {
   height: 100%;
}

#wrap{
    position: relative;
}

#map{
    background-color:grey;
    height:548px;
    position:relative;
    //height:100%;
    width:100%;
}

  #details{
      background-color: white;
      display:none;
      height:548px;
      position: absolute;
      top:0;
      right:0;
      width: 400px;
  }

  #close{
      color:black;
      padding:5px;
      position:absolute;
      top:0;
      left:0;
  }
  
  #close:hover{
      color:#E60000;
  }
  
  #title{
      font-size: 20px;
      margin:10px;
      margin-left:45px;
      margin-bottom:15px;
      position: relative;
      text-align: center;
      top:17px;
  }
  
  #address, #description, #date, #style, #website{
      margin:10px;
      position:relative;
      top:15px;
  }
  
  #website{
      font-size:21px;
      text-decoration: none;
  }
  
  #website:hover{
      color:#E60000;
  }
  
  
.fixed_img{
    
    display:none;

}

  .scroll{
     min-height: 100%;
  }
  
  #head{
      height:70px;
      background-color: #020000;
      opacity: .9;
  }
  
  #search_box, .search{
      right:15px;
      position:relative;
      top:30px;
      float:right;
  }
  
  #search_box{
      border-radius: 10px;
      height: 20px;
      width: 250px;
  }
  
  .search{
      color:white;
  }
 

@media screen and (min-width: 600px){
   
.fixed_img{
    display:block;
   // width:100px;
    height:100%;
    background-attachment: fixed;
    background-image: url("../img/theatre2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
    
}
   /* 


.fixed_img{
    display:block;
}

.scroll{
    min-height: 100%;
}


}
*/